/**
* COLOR ROJO: #dc0708
* COLOR NEGRO: #282c34
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #212529;
}

a {
  color: #888888;
  text-decoration: none;
}

a:hover {
  color: #f03535;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Raleway", sans-serif;
}

button {
  all: unset;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #dc0708;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #282c34;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 2000;
  transition: all 0.5s;
  background: #282c34;
  box-shadow: 0px 2px 15px #f14f4f36;
}

#header .push {
  margin-left: auto;
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #f03535;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

#main {
  margin-top: 72px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.active-red-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #dc0708;
  box-shadow: 0 1px 0 0 #dc0708;
}

.active-red input[type=text] {
  border-bottom: 1px solid #dc0708;
  box-shadow: 0 1px 0 0 #dc0708;
}

.active-red .fa,
.active-red-2 .fa {
  color: #dc0708;
}

.navbar {
  padding: 0;
}

.form-control{
  color: #fff;
  border-color: #303030;
  border-left-color:#282c34;
  border-bottom:#282c34;
  background: #202020;
}

.form-control:focus{
  color: #fff;
  border-color: #202020;
  background: #202020;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 10vw;
}

.navbar li {
  position: relative;
}

.navbar form i {
  color: #fff;
}

.navbar .fas i:hover {
  color: #FF4B4B;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  color: #ec3d3d;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ffffff;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #FF4B4B;
  color: #fff;
  padding: 10px 25px;
  margin-left: 30px;
  border-radius: 50px;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #FF4B4B;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #282c34;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #dc0708;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #282c34
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #7a6960;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #dc0708;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #282c34;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100%;
  background: #202020;
  border-bottom: 2px solid #dc0708;
  margin: 72px 0 -72px 0;
}

#hero h3 {
  margin: 0;
  /* font-size: x-large;
  font-weight: 700; */
  line-height: 56px;
  color: #ffffff;
  padding: 0px 30px;
  padding-left: 3rem;
}

#hero h4 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #dc0708;
  padding: 0 30px;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #dc0708;
}

#hero h2 {
  color: #ffffff;
  margin: 15px 0 0 0;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 3px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #dc0708;
}

#hero .btn-get-started:hover {
  background: #dc0708;
}

#hero .btn btn-light {
  color: red;
  background: #dc0708;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {

  /* #hero {
    height: calc(100vh - 72px); 
  } */
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@media (max-height: 600px) {
  #hero {
    height: 120vh;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #202020;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 0;
  line-height: 1px;
  margin-bottom: 15px;
  color: #f5d7d7;
}

.section-title p {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #f03535;
}

.section-title p::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background: #dc0708;
  bottom: 0;
  left: calc(50% - 30px);
}


/*--------------------------------------------------------------
# Track
--------------------------------------------------------------*/
.track {
  background: #282c34;
}

.track h3 {
  font-weight: 700;
  font-size: 34px;
  color: #fff;
}

.track h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
  color: #000000;
}

.track i {
  font-size: 48px;
  margin-top: 15px;
  color: #f37a7a;
}

.track p {
  font-size: 15px;
  color: #e0e0e0;
}

.track .tile {
  color: #ffffff;
  margin-left: 7vw;

}

.track-item {
  margin: 10px;
  border-bottom: 2px solid #ff0000;
}

.track-item .text {
  transition: .5s ease;
  opacity: 0;
  color: #ff0000;
  font-size: 20px;
  font-weight: bold;
}

.track-item #imagencircuito {
  transition: .5s ease;
  backface-visibility: hidden;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.track-item:hover #imagencircuito {
  opacity: .4;
}

.track-item:hover .text {
  opacity: 1;
}

.notfav h1 {
  color: #f03535;
  font-weight: bold
}

.notfav img {
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}

/* @media (max-width: 991px) {
  .track .track-img img {
    max-width: 70%;
  }
}
@media (max-width: 767px) {
  .track .track-img img {
    max-width: 90%;
  }
} */

/*--------------------------------------------------------------
# Positions
--------------------------------------------------------------*/
/* .positions {
  /* background-color:#ffffff;  
} 
*/




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background-color: #141414;
  border-top: 2px solid #dc0708;
  padding: 3rem 0;
  color: #888;
  font-size: 16px;
}

.footer .description {
  font-size: small;
  text-align: center;
}

.footer .description p {
  font-family: "Poppins", sans-serif;
}

.footer .bottom {
  font-size: small;
  text-align: center;
  vertical-align: bottom;
}

/*--------------------------------------------------------------
# trackView 
--------------------------------------------------------------*/

.trackView {
  background: #202020;
  color: #fff;
}

.trackView img {
  width: 100%;
  height: 100%;
}

.trackView .title {
  background: #282c34;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 2px;
}

.trackView .title .button1 {
  border-radius: 5px;
  background-color: #dc0708;
  box-shadow: none;
  color: white;
  float: right;
}
.trackView .title .button2 {
  border-radius: 5px;
  background-color: #242424;
  box-shadow: none;
  color: white;
  float: right;
}

.trackView iframe {
  width: 100%;
  height: 17.5vw;
}

/* 
.trackView .title .button{

  margin-right: auto;
}
 */
.trackView .title img {
  width: 7vw;
  height: 3vw;
}

.trackView .title img .pushImg {
  margin-right: 1vw;
  border-radius: 25px;
}

.trackView .title h1 {
  text-align: justify;
  font-style: Monaco;
  font-size: medium;
  text-indent: 0;
  margin: 0;
  font-size: 1rem;
  padding: 0.5em 0.5em 0.5em 0;
  width: 80%;
}

.trackView .posicion .card {
  background-color: #202020;
  border-color: #202020;
}

.trackView .posicion #primero {
  color: #FFD700;
}

.trackView .posicion #segundo {
  color: #C0C0C0;
}

.trackView .posicion #tercero {
  color: #CD7F32;
}

.trackView .posicion #cuarto {
  color: white;
}

.trackView .title-body {
  color: white;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 1rem;
}


.trackView #containerTiempo{
  padding: 0%;
}


.trackView #colTiempo img{
  width: 7vw;
  height: 7vw;

}

.trackView #colTiempo2 {
  margin-top: 5vw;

}

.trackView #colTiempo2 .icon {
  width: 2.5vw;
  height: 2.5vw;
}

.trackView #tiempoForecast img{
  width: 5vw;
  height: 5vw;
}

.trackView #tiempoForecast .max{
  color: rgb(245, 142, 116);
}

.trackView #tiempoForecast .min{
  color: rgb(103, 190, 248);
}

.trackView #tiempoForecast2 .max{
  color: rgb(245, 142, 116);
  margin-top: 5vw;
}

.trackView #tiempoForecast2 .min{
  color: rgb(103, 190, 248);
  margin-top: 2vw;
}


.title-track {
  font-weight: bold;
  font-size: xx-large;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #dc0708;
}

.title-track .bi {
  width: 1rem;
  height: 1rem;
  color: #ffffff;
  margin: 5px;
}

.title-track .bi:hover {
  color: #dc0708;
}

.title-track .bi-star-fill {
  color: #ffe81d;
}

.title-track button {
  all: unset;
}

.title-track button:focus {
  animation: fav 0.5s;
}

.title-track button:active {
  animation: none;
}

@keyframes fav {
  20% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(10deg);
  }

}

.sub-title-track h1 {
  font-size: 1.1rem;
}

/*--------------------------------------------------------------
# MAPS API
--------------------------------------------------------------*/
#map1 {
  height: 400px;
  width: 100%;
  border-radius: 3px;
}

#map2 {
  height: 400px;
}

/*--------------------------------------------------------------
# DETAIL OF TRACK
--------------------------------------------------------------*/
.detail {
  margin-bottom: 10px;
}

.detail .detail-info {
  margin: 5px;
}

.detail .detail-info {
  border-radius: 0px 0px 20px 0px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #dc0708;
  border-right-color: #dc0708;

}

.detail .detail-info img {
  /* width: 2.5vw;
  height: 1.5vw; */
  width: 2rem;
  height: 1rem;
}

.detail .detail-info .detail-info-title {
  color: white;
  font-weight: bold;
}

.detail .detail-info .detail-info-content {
  color: rgb(143, 143, 143);
}

.detail .detail-info .detail-info-content2 {
  color: rgb(161, 161, 161);
  font-size: 12px;
}

/*--------------------------------------------------------------
# Escuderias
--------------------------------------------------------------*/
.escuderias {
  background: #202020;
  border-top: 1px solid #242424;
  padding-top: 2rem;
}

.escuderias .tile {
  color: #ffffff;
  margin-left: 7vw;
  margin-bottom: 2rem;
  border-bottom: 2px solid #dc0708;
}

.escuderias img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# API TWITTER
--------------------------------------------------------------*/
.scroll {
  height: 200px;
  overflow: auto;
  color: #C0C0C0;
}

.scroll img {
  width: 40px;
  height: 40px;
}

.scroll h1 {
  font-size: x-small;
  font-weight: bold;
}

.scroll h2 {
  font-size: xx-small;
}

.scroll h3 {
  font-style: oblique;
  font-size: xx-small;
  display: inline-block;
  width: 50%;
}